
.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #def2fd;
    padding-bottom: 15px;
    border-radius: 15px;
    width: 50%;
}

.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenses-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}