* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

// for 'main' wrapping component
.title {
    text-align: center;
    font-size: 3rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    background-color: #def2fd;
}

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Chart_container {
    width: 500px;
    height: 500px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    border-radius: 15px;

    width: 600px;
    // width: 50%;
}

.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenses-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}

.btn {
    color: white;
    font-size: 18px;
    background-color: grey;
}
